<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <!-- <link rel="stylesheet" href="/Users/jamespreston/sei-course/classwork/unit1/ZProjects/Project_2/Project2/templates/styles.css"> -->
    <h1>  Calendar App </h1>
</head>
<body>
    <nav> 
         <!-- This is where we put in the links to other pages created-->

    <a href ="/"> Home</a>   
    <a href="/meetings/new"> New Appointment</a>
    <a href="/meetings"> Appointment View</a>
    
   
     
    </nav>
{%block content%}{%endblock%}
</body>
</html>
