{% extends "base.html" %}
{% block title %} New Appointment {% endblock %}

{% block styles %}
<style>
    /* Add the CSS example here */
    body {
        background-image: url("https://prod-upp-image-read.ft.com/ea6db1b4-bb15-11e7-bff8-f9946607a6ba");
        background-size: cover;
        font-family: 'Courier New';
    }

    h1 {
        color: black;
    }
    
    form {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<form action="/meetings/edit/{{meeting.meeting_id}}" method="POST">
    <label for="owner_name">Owner Name:</label>
    <input type="text" name="owner_name" value="{{ meeting.Owner_name | default('') }}">
    <br>
    <label for="meeting_subject">Meeting Subject:</label>
    <input type="text" name="meeting_subject" value="{{ meeting.Meeting_subject | default('') }}">
    <br>
    <label for="meeting_time">Meeting Time:</label>
    <input type="datetime-local" name="meeting_time" value="{{ meeting.meeting_time | default('') }}">
    <br>
    <label for="location">Location:</label>
    <select name="location">
        <option value="">Select Location</option>
        <option value="Meeting Room 1">Meeting Room 1</option>
        <option value="Meeting Room 2">Meeting Room 2</option>
        <option value="Meeting Room 3">Meeting Room 3</option>
        <option value="Meeting Room 4">Meeting Room 4</option>
        <option value="Meeting Room 5">Meeting Room 5</option>
    </select>
    <br>
    <label for="attendees">Attendees:</label>
    <input type="text" name="attendees" value="{{ meeting.Attendees | default('') }}">
    <br>
    <input type="submit" value="Update Meeting">
</form>
{% endblock %}
