{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block styles %}
<style>
    /* Add the CSS example here */
    body {
        background-image: url("https://prod-upp-image-read.ft.com/ea6db1b4-bb15-11e7-bff8-f9946607a6ba");
        background-size: cover;
        font-family: 'Courier New';
    }

    h2 {
        color: black;
    }

    form {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<body>
    <h2>Login Form</h2>
    <form method="POST" action="/login">
        <label for="email">Email</label><br>
        <input id="email" type="text" name="email" required><br>
        <label for="password">Password</label><br>
        <input id="password" type="password" name="password" required><br>
        {% if error %}
        {{error}}
        {% endif %}
        <input type="submit" value="Login">
    </form>
</body>
{% endblock %}
