<!DOCTYPE html>
<html>
  <head>
    <title>Meetings</title>
  </head>
  <body>
    <h1>Meetings</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Owner Name</th>
          <th>Subject</th>
          <th>Time</th>
          <th>Location</th>
          <th>Attendees</th>
        </tr>
      </thead>
      <tbody>
        {% for meeting in meetings %}
        <tr>
          <td>{{ meeting[0] }}</td>
          <td>{{ meeting[1] }}</td>
          <td>{{ meeting[2] }}</td>
          <td>{{ meeting[3] }}</td>
          <td>{{ meeting[4] }}</td>
          <td>{{ meeting[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/meetings/new">New Meeting</a>
  </body>
  
</html>
